<body style="background-color:lightgray">
    <header>
        <h1 style="text-align: center;">Controle Financeiro</h1>
    </header>

    <div><!--div para saldo e botões-->
        <h3 style="text-align: center;">Saldo Atual: {{ saldo }}</h3>
        <br>
        <form method="post" action="/adicionar_receita" style="text-align:center">
            <input name="valor" type="number" required placeholder ="Valor: R$">
            <input type="submit" style="color: green; text-align: center; display: block; margin: 0 auto" value = "Adicionar receita"/>
        </form>
        <!--<button style="color: green; text-align: center; display: block; margin: 0 auto;">Adicionar Receita</button>-->
        <!--<button style="color: red; text-align: center; display: block; margin: 0 auto;">Adicionar Despesa</button>-->
        <form method="post" action="/adicionar_despesa" style="text-align:center">
            <input name="valor" type="number" required placeholder="Valor: R$">
            <input name="descricao" type="text" required placeholder="Ex: Mercado, Luz...">
            <input type="submit" style="color: red; text-align: center; display: block; margin: 0 auto" value ="Adicionar despesa"/>
        </form>
    </div>

    <div><!--div para tabela de receitas e despesas-->
        <h2 style="text-align: center;">Histórico de Transações</h2>
        <h3 style="text-align:center">(+)Receita-----------{{ receitas }}:</h3>
        {% for t in transacoes %}
            {% if t.tipo == "receita" %}
                <div>
                    <p style="color: green; text-align: center;">{{ loop.index }}. + {{ t.valor }}</p>
                    <form method="post" action="/remover" style="display:inline;">
                        <input type="hidden" name="id" value="{{ t.id }}"><!--o value no tipo hidden é o que sera enviado ao python-->
                        <input type="submit" value="R">
                    </form>
                </div>
            {% endif %}
        {% endfor %}
        <h3 style="text-align:center">(-)Despesa----------{{ despesas }}:</h3>
        {% for t in transacoes %}
            {% if t.tipo == "despesa" %}
                <div>
                    <p style="color: red; text-align:center;">{{ loop.index }}. - {{ t.valor }}, {{t.descricao}}</p>
                    <form method="post" action="/remover" style="display:inline;">
                        <input type="hidden" name="id" value="{{ t.id }}">
                        <input type="submit" value="R">
                    </form>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</body>
