<body style="background-color:lightgray">
    <header>
        <h1 style="text-align: center;">Controle Financeiro</h1>
    </header>

    <div><!--div para saldo e botões-->
        <h3 style="text-align: center;">Saldo Atual: XXXX</h3>
        <br>
        <button style="color: green; text-align: center; display: block; margin: 0 auto;">Adicionar Receita</button>
        <button style="color: red; text-align: center; display: block; margin: 0 auto;">Adicionar Despesa</button>
    </div>

    <div><!--div para tabela de receitas e despesas-->
        <h2 style="text-align: center;">Histórico de Transações</h2>
        <h3 style="text-align:center">(+)Receita-----------XXXX:</h3>
        <h3 style="text-align:center">(-)Despesa----------XXXX:</h3>
    </div>
</body>
