<body style="background-color:lightgray">
    <header>
        <h1 style="text-align: center;">Controle Financeiro</h1>
    </header>

    <div><!--div para saldo e botões-->
        <h3 style="text-align: center;">Saldo Atual: {{ saldo }}</h3>
        <br>
        <form method="post" action="/adicionar_receita">
            <input name="valor" type="number" text-align:center>
            <input type="submit" style="color: green; text-align: center; display: block; margin: 0 auto" value="Adicionar receita"/>
        </form>
        
        <!--<button style="color: green; text-align: center; display: block; margin: 0 auto;">Adicionar Receita</button>-->
        <button style="color: red; text-align: center; display: block; margin: 0 auto;">Adicionar Despesa</button>
    </div>

    <div><!--div para tabela de receitas e despesas-->
        <h2 style="text-align: center;">Histórico de Transações</h2>
        <h3 style="text-align:center">(+)Receita-----------{{ receitas }}:</h3>
        {% for t in transacoes %}
            {% if t.tipo == "receita" %}
                <p style="color: green; text-align: center;">+ {{ t.valor }}</p>
            {% endif %}
        {% endfor %}
        <h3 style="text-align:center">(-)Despesa----------{{ despesas }}:</h3>
        {% for t in transacoes %}
            {% if t.tipo == "despesa" %}
                <p style="color: red; text-align:center;">- {{ t.valor }}, {{t.descricao}}</p>
            {% endif %}
        {% endfor %}
    </div>
</body>
